# Node modules
node_modules/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build output
build/
dist/

# Environment variables
.env

# IDE or editor settings
.vscode/
.idea/

# Others
*.swp
